@use "../variables/font";
@use "../variables/cores";

.ad-spacer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ads__card{
    background: cores.$color-primary;
    width: 60em;
    height: 16em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: cores.$color-secondary;
    justify-content: center;

}

.ads__card h2{
    font-family: font.$font-secondary;
    font-size: font.$font-size-lg;
}

.ads__card h3{
    font-family: font.$font-primary;
    font-size: font.$font-size-xl;
    font-weight: bold;
    margin-top: 1em;
    
}

.ads__card h4{
    font-family: font.$font-primary;
    font-size: font.$font-size-md;
    color: cores.$color-highlight;
}

button{
    background: cores.$color-secondary;
    color: cores.$color-primary;
    border: none;
    padding: 0.75em 1.5em;
    font-family: font.$font-primary;
    font-size: font.$font-size-base;
    cursor: pointer;
    margin-top: 1em;
    transition: all 0.3s ease;

    &:hover{
        background: cores.$color-highlight;
        color: cores.$color-secondary;
    }
}

.ads__card p{
    
}

