@use "../variables/font";
@use "../variables/cores";

.emphasi{
    display: flex;
    gap: 2em;
    margin: 2em 0 2em 0;
    cursor: pointer;
    

}

.emphasi__media img {
    width: 15em;
}

.emphasi__content h2{
  font-size: 1.5rem;
  font-family: font.$font-secondary;
  font-weight: bold;
  cursor: pointer;
 

  &:hover{
     text-decoration: underline;
  }
}