@use "../variables/font";
@use "../variables/cores";


.highlight{
display: flex;
justify-content: space-between;


}

.highlight__card{
    width: 20em;
    margin: 2em 0;
}
.highlight__media{
    width: 100%;
    height: 12em;
    overflow: hidden;
    
}

.highlight__media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     cursor: pointer;

}

.highlight__content {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.highlight__content h2{
    font-size: 1.5rem;
  font-family: font.$font-secondary;
  font-weight: bold;
  cursor: pointer;

  
  &:hover{
     text-decoration: underline;
  }
}