// 1. Definição das Cores Primárias
$color-primary: #000000; // Preto
$color-secondary: #FFFFFF; // Branco
$color-accent: #007BFF; // Azul Vibrante

// 2. Definição das Cores de Fundo
$color-bg-light: #F8F9FA; // Cinza Claro


// 3. Definição das Cores de Texto
$color-text-primary: #000000; // Texto Primário
$color-text-secondary: #5A5A5A; // Texto Secundário

// 4. Definição das Cores de Bordas
$color-border-light: #000000; // Bordas Escuras

// 5. Definição das Cores de Conteúdo Destaque
$color-highlight: #CE0B24; // Vermelho Destaque
