@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


// 1. Definição das Famílias
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Newsreader', serif;

// 2. Escala de Tamanhos em EM (Base 16px = 1em)
$font-size-xs: 0.75em;   // 12px
$font-size-sm: 0.875em;  // 14px
$font-size-base: 1em;    // 16px
$font-size-md: 1.25em;   // 20px
$font-size-lg: 1.5em;    // 24px
$font-size-xl: 2.25em;   // 36px
$font-size-xxl: 3.5em;   // 56px

// 3. Pesos (Weights)
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-extra-bold: 800;

// 4. Espaçamentos Proporcionais (Uso de EM é perfeito aqui)
$tracking-tight: -0.02em; // Para títulos grandes não ficarem "espalhados"
$tracking-normal: 0;